@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

#home {
    height: 100vh;
    background-image: url('background_home.gif');
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

#main_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 2s;
}

#main_logo path:nth-child(1) {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: line-anim 5s ease forwards;
}

#main_logo path:nth-child(2) {
    stroke-dasharray: 750;
    stroke-dashoffset: 750;
    animation: line-anim 5s ease forwards;
}

#main_logo path:nth-child(3) {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: line-anim 5s ease forwards;
}

#main_logo path:nth-child(3) {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: line-anim 5s ease forwards;
}

#main_logo path:nth-child(4) {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: line-anim 5s ease forwards;
}

#main_logo path:nth-child(5) {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: line-anim 5s ease forwards;
}

#main_logo path:nth-child(6) {
    stroke-dasharray: 572;
    stroke-dashoffset: 572;
    animation: line-anim 5s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes fill2 {
    from {
        fill: transparent;
    }
    to {
        fill: black;
    }
}

.fa-angle-down {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    color: white;
    font-size: 100px;
    font-weight: 100;
}

#about {
    height: 240vh;
    background-color: white;
    background-position: bottom;
}

#main_title {
    margin: 0 auto;
    animation: fill2 0.5s ease forwards 2s;
}

#main2 {
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
}

#main_title path:nth-child(1) {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: line-anim 5s ease forwards;
}

#main_title path:nth-child(2) {
    stroke-dasharray: 750;
    stroke-dashoffset: 750;
    animation: line-anim 5s ease forwards;
}

#main_title path:nth-child(3) {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: line-anim 5s ease forwards;
}

#main_title path:nth-child(3) {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: line-anim 5s ease forwards;
}

#main_title path:nth-child(4) {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: line-anim 5s ease forwards;
}

#main_title path:nth-child(5) {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: line-anim 5s ease forwards;
}

#main_title path:nth-child(6) {
    stroke-dasharray: 572;
    stroke-dashoffset: 572;
    animation: line-anim 5s ease forwards;
}

#main_title path:nth-child(7) {
    stroke-dasharray: 572;
    stroke-dashoffset: 572;
    animation: line-anim 5s ease forwards;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    margin-left: 15px;
}

.faces {
    height: 400px;
    margin-left: 15px;
    border-radius: 12px;
    margin-top: 15px;
}

.image_center {
    margin: 0 auto;
    text-align: center;
}

.bene {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.demo_button {
    position: absolute;
    top: 360%;
    left: 50%;
    transform: translate(-50%, -360%);
    display: inline-block;
    padding: 15px 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 55px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.demo_button:hover {
    background: #2196f3;
    transition-delay: 1s;
    border-radius: 30px;
    color: white;
}

.demo_button span {
    position: absolute;
    display: block;
}

.demo_button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.demo_button:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.demo_button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.demo_button:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.demo_button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.demo_button:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.demo_buttons span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.demo_button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}